
.header {
    height:auto;
    width:100%;
    overflow:hidden;
    padding-top:4rem;
    padding-bottom:8rem;
}

.title {
    max-width:90%;
    line-height:1.2;
}

.section {
    height:auto;
    min-height:400px;
}
